$font-stack: Poppins, sans-serif;
$light-color: #fbfef9;
$primary-color: .1b2021;
$secondary-color: .656a77;
$accent-color: #be0d5d;

body {
  padding: 0px;
  margin: 0px;
  font: 100% $font-stack;
}

.top-section {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 1;

  color: $primary-color;
  width: 1000px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.navbar {
  display: flex;
  color: $light-color;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
  .left-nav {
    font-size: 1.5em;
  }

  .right-nav {
    display: flex;
    width: 500px;
    justify-content: space-between;

    .separator {
      font-weight: 700;
      color: $accent-color;
    }
  }
}

.banner {
  color: $light-color;
  text-align: center;

  .main-text {
    padding-top: 20px;
    font-size: 3em;
    font-weight: 700;

    .highlight {
      color: $accent-color;
    }
  }

  .middle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    .icon {
      width: 60px;
      height: 60px;
    }

    .slashes {
      width: 400px;
      height: 60px;
    }
  }

  .secondary-text {
    font-size: 1em;
    padding-top: 30px;
    font-weight: 300;
  }
}

.middle-section {
  height: 50px;
  width: 100vw;
  background-color: #ececec;
  display: flex;
  margin-right: auto;
  margin-top: -7px;

  .middle-elements {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin: auto;
  }

  .category-select {
    position: relative;
    padding-right: 10px;

    .category-arrow-block {
      position: absolute;
      display: block;
      top: 0;
      right: 0;
      height: 100%;
      width: 1.7rem;
      background-color: #ececec;
      pointer-events: none;
    }

    .category-arrow {
      pointer-events: none;
      position: absolute;
      top: 0;
      right: 0;
      border: solid $accent-color;
      border-width: 0 8px 8px 0;
      display: inline-block;

      height: 2px;
      width: 2px;

      padding-top: 20px;
      padding-left: 25px;
      padding-bottom: 5px;

      transform: rotate(45deg) scale(0.5, 0.5);
      -webkit-transform: rotate(45deg) scale(0.5, 0.5);
    }
  }

  .sorting-select {
    position: relative;
    padding-right: 10px;

    .sorting-arrow-block {
      position: absolute;
      display: block;
      top: 0;
      right: 0;
      height: 100%;
      width: 1.7rem;
      background-color: #ececec;
      pointer-events: none;
    }

    .sorting-arrow {
      pointer-events: none;
      position: absolute;
      top: 0;
      right: 0;
      border: solid $accent-color;
      border-width: 0 8px 8px 0;
      display: inline-block;

      height: 2px;
      width: 2px;

      padding-top: 20px;
      padding-left: 25px;
      padding-bottom: 5px;

      transform: rotate(45deg) scale(0.5, 0.5);
      -webkit-transform: rotate(45deg) scale(0.5, 0.5);
    }
  }

  .vegetarian-select {
    position: relative;
    padding-right: 10px;

    .vegetarian-arrow-block {
      position: absolute;
      display: block;
      top: 0;
      right: 0;
      height: 100%;
      width: 1.7rem;
      background-color: #ececec;
      pointer-events: none;
    }

    .vegetarian-arrow {
      pointer-events: none;
      position: absolute;
      top: 0;
      right: 0;
      border: solid $accent-color;
      border-width: 0 8px 8px 0;
      display: inline-block;

      height: 2px;
      width: 2px;

      padding-top: 20px;
      padding-left: 25px;
      padding-bottom: 5px;

      transform: rotate(45deg) scale(0.5, 0.5);
      -webkit-transform: rotate(45deg) scale(0.5, 0.5);
    }
  }

  .selection {
    font: 100% $font-stack;
    font-weight: 700;
    font-size: 1em;
    padding: 0.6em;
    border: 0px none red;
    background-color: #ececec;

    &:hover {
      max-width: 500px;
      max-height: 500px;
      box-shadow: 0px 5px 10px 4px #dfdfdf;
    }

    &:focus {
      outline: none;
    }
  }

  .left-middle {
    display: flex;
    width: 500px;
    justify-content: space-between;
  }

  .right-middle {
    display: flex;
    width: 300px;
    justify-content: space-between;

    label {
      font-weight: 700;
    }

    input {
      -webkit-appearance: none;
      margin: 5px 0;
      border-radius: 10px;

      &::-webkit-slider-runnable-track {
        -webkit-appearance: slider-horizontal;
        background-color: $light-color;
        padding: 0px;
        margin: 0px;

        border: 0.5px solid $accent-color;
        border-radius: 10px;
      }

      &:focus {
        outline: none;
      }

      &::-webkit-slider-thumb {
        background-color: $accent-color;
        -webkit-appearance: none;
        border: 3px solid #ececec;
        height: 16px;
        width: 16px;
        border-radius: 50%;
        background: $accent-color;
        cursor: pointer;
        box-shadow: 1px 1px 1px $primary-color;
      }
    }
  }
}

.background {
  position: relative;
  img {
    max-width: 100%;
  }
}

.food-dishes {
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 1000px;
  margin: auto;

  .card {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 350px;
    margin-top: 50px;

    transition-duration: 750ms;
    transition-property: height, width, box-shadow;
    transition-timing-function: ease;

    &:hover {
      width: 105%;
      height: 101%;
      box-shadow: 0px 5px 10px 4px #dfdfdf;
      overflow: visible;
    }

    .title {
      color: $primary-color;
      font-size: 1.4em;
      font-weight: 700;
      pointer-events: none;
    }

    .category {
      color: $secondary-color;
      font-size: 1em;
      font-weight: 500;
      pointer-events: none;
    }

    .price {
      color: $accent-color;
      font-size: 1.3em;
      pointer-events: none;
    }

    img {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      box-shadow: 0px 0px 10px 5px #c0c0c0;
      margin-bottom: 25px;
      pointer-events: none;
    }
  }
}
