body {
  padding: 0px;
  margin: 0px;
  font: 100% Poppins, sans-serif;
}

#top-section {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 1;
  color: #1b2021;
  width: 1000px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.navbar nav {
  display: flex;
  color: #fbfef9;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
}
.navbar nav #left-nav {
  font-size: 1.5em;
}
.navbar nav #right-nav {
  display: flex;
  width: 500px;
  justify-content: space-between;
}
.navbar nav #right-nav #separator {
  font-weight: 700;
  color: #be0d5d;
}

#banner {
  color: #fbfef9;
  text-align: center;
}
#banner #main-text {
  padding-top: 20px;
  font-size: 3em;
  font-weight: 700;
}
#banner #main-text #highlight {
  color: #be0d5d;
}
#banner #middle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
#banner #middle #icon {
  width: 60px;
  height: 60px;
}
#banner #middle #slashes {
  width: 400px;
  height: 60px;
}
#banner #secondary-text {
  font-size: 1em;
  padding-top: 30px;
  font-weight: 300;
}

#middle-section {
  height: 50px;
  width: 100vw;
  background-color: #ececec;
  display: flex;
  margin-right: auto;
  margin-top: -7px;
}
#middle-section #middle-elements {
  width: 1000px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin: auto;
}
#middle-section #category-select {
  position: relative;
  padding-right: 10px;
}
#middle-section #category-select #category-arrow-block {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  height: 100%;
  width: 1.7rem;
  background-color: #ececec;
  pointer-events: none;
}
#middle-section #category-select #category-arrow {
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 0;
  border: solid #be0d5d;
  border-width: 0 8px 8px 0;
  display: inline-block;
  height: 2px;
  width: 2px;
  padding-top: 20px;
  padding-left: 25px;
  padding-bottom: 5px;
  transform: rotate(45deg) scale(0.5, 0.5);
  -webkit-transform: rotate(45deg) scale(0.5, 0.5);
}
#middle-section #sorting-select {
  position: relative;
  padding-right: 10px;
}
#middle-section #sorting-select #sorting-arrow-block {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  height: 100%;
  width: 1.7rem;
  background-color: #ececec;
  pointer-events: none;
}
#middle-section #sorting-select #sorting-arrow {
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 0;
  border: solid #be0d5d;
  border-width: 0 8px 8px 0;
  display: inline-block;
  height: 2px;
  width: 2px;
  padding-top: 20px;
  padding-left: 25px;
  padding-bottom: 5px;
  transform: rotate(45deg) scale(0.5, 0.5);
  -webkit-transform: rotate(45deg) scale(0.5, 0.5);
}
#middle-section #vegetarian-select {
  position: relative;
  padding-right: 10px;
}
#middle-section #vegetarian-select #vegetarian-arrow-block {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  height: 100%;
  width: 1.7rem;
  background-color: #ececec;
  pointer-events: none;
}
#middle-section #vegetarian-select #vegetarian-arrow {
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 0;
  border: solid #be0d5d;
  border-width: 0 8px 8px 0;
  display: inline-block;
  height: 2px;
  width: 2px;
  padding-top: 20px;
  padding-left: 25px;
  padding-bottom: 5px;
  transform: rotate(45deg) scale(0.5, 0.5);
  -webkit-transform: rotate(45deg) scale(0.5, 0.5);
}
#middle-section select {
  font: 100% Poppins, sans-serif;
  font-weight: 700;
  font-size: 1em;
  padding: 0.6em;
  border: 0px none red;
  background-color: #ececec;
}
#middle-section select:hover {
  max-width: 500px;
  max-height: 500px;
  box-shadow: 0px 5px 10px 4px #dfdfdf;
}
#middle-section select:focus {
  outline: none;
}
#middle-section #left-middle {
  display: flex;
  width: 500px;
  justify-content: space-between;
}
#middle-section #right-middle {
  display: flex;
  width: 300px;
  justify-content: space-between;
}
#middle-section #right-middle label {
  font-weight: 700;
}
#middle-section #right-middle input {
  -webkit-appearance: none;
  margin: 5px 0;
  border-radius: 10px;
}
#middle-section #right-middle input::-webkit-slider-runnable-track {
  -webkit-appearance: slider-horizontal;
  background-color: #fbfef9;
  padding: 0px;
  margin: 0px;
  border: 0.5px solid #be0d5d;
  border-radius: 10px;
}
#middle-section #right-middle input:focus {
  outline: none;
}
#middle-section #right-middle input::-webkit-slider-thumb {
  background-color: #be0d5d;
  -webkit-appearance: none;
  border: 3px solid #ececec;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #be0d5d;
  cursor: pointer;
  box-shadow: 1px 1px 1px #1b2021;
  /* Add cool effects to your sliders! */
}

#background {
  position: relative;
}
#background img {
  max-width: 100%;
}

#food-dishes {
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 1000px;
  margin: auto;
}
#food-dishes #card {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 350px;
  margin-top: 50px;
  transition-duration: 750ms;
  transition-property: height, width, box-shadow;
  transition-timing-function: ease;
}
#food-dishes #card:hover {
  width: 105%;
  height: 101%;
  box-shadow: 0px 5px 10px 4px #dfdfdf;
  overflow: visible;
}
#food-dishes #card #title {
  color: #1b2021;
  font-size: 1.4em;
  font-weight: 700;
  pointer-events: none;
}
#food-dishes #card #category {
  color: #656a77;
  font-size: 1em;
  font-weight: 500;
  pointer-events: none;
}
#food-dishes #card #price {
  color: #be0d5d;
  font-size: 1.3em;
  pointer-events: none;
}
#food-dishes #card img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 5px #c0c0c0;
  margin-bottom: 25px;
  pointer-events: none;
}

/*# sourceMappingURL=styles.css.map */
